[submodule "SubmoduleLogin"]
	path = SubmoduleLogin
	url = git@github.com:wdxgtsh/SubmoduleLogin.git
[submodule "SubmoduleNetWork"]
	path = SubmoduleNetWork
	url = git@github.com:wdxgtsh/SubmoduleNetWork.git
